@charset "UTF-8";
html{
	height:100%;
	width:100%;
	margin-right:0px;
	margin-left:0px;
	text-align:center;
	}

.row{
	margin-right:0px;
	margin-left:0px;
}
body{
	height:100%;
	
}
#fondo{
	position:fixed;
	top:0;
	left:0;
	z-index:-1;
	width: 100%;
	height: 100%;
}
#titulo{
	position:relative;
	top:10%;
}

h1{
	color:orange;
	font-family:Aggie URW;
	font-size:90px;
	text-align:center;
}

#eslogan{
	text-align:center;
	margin-top:100px;
}

#entrar{
	text-align:center;
	position:relative;
	top:30%;
}

button{
	width:200px;
	height:50px;		
}

button:hover{
	-ms-transform: scale(1.1,1.2); /* IE 9 */
    -webkit-transform: scale(1.1,1.2); /* Safari */
    transform: scale(1.1,1.2);
}

/*********MAX WIDTH 768***********/
@media screen and (max-width: 568px) {
	h1{
		font-size:68px;
	}
}
/*********FIN MAX WIDTH 768***********/